body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px auto;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    font-size: 40px;
    margin: 0;
}

p {
    font-size: 20px;
}

img {
    max-width: 250px;
}